
/* Estilos específicos para la página de la carta */
.sobre {
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}

.sobre img {
    width: 150px; /* Tamaño del sobre */
    transition: transform 0.3s ease;
}

h2 {
   border: solid 2px black;
   width: 150px;
   text-align: center;
   margin: 0 auto;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 1%);
   background-color: violet;
   border-radius: 15px;
   color: black;
   
}

h2:hover{
    box-shadow: black 0px 10px 15px;
}

.mensaje {
    display: none; /* Oculta la carta inicialmente */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.mensaje p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}